includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:

    paths:
        - src
        - tests

    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php

    level: max

    tmpDir: /tmp/phpstan

    ignoreErrors:
        - identifier: method.internalClass
